.blogComments {
  width: min(100%, 771px);
  margin: 50px auto 0;
  padding-bottom: 100px;
}

.blogComments button {
  @apply shrink;
  background-color: rgba(24, 160, 251, 1);
  color: #ffffff;
  width: 172px;
  border-radius: 6px;
  transition: opacity 0.2s;
}

.blogComments button:hover {
  opacity: 0.8;
}
